# API Base URL
VITE_AXIOS_PROD_BASE_URL=http://220.76.77:8847

# Development API URL (로컬 개발용)
VITE_AXIOS_DEV_BASE_URL=http://localhost:8847

# Environment
NODE_ENV=development

# Docker 관련 설정
DOCKER_API_URL=http://220.76.77:8847 